:root {
    --primary-color: hsl(0, 0%, 95%);
    --primary-font:  "Lexend Deca", sans-serif;
    --secondary-font: "Big Shoulders Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease;
}

body{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.card:nth-child(1){
    background-color: #e28525;
    color: #f5c78a;
}

.card:nth-child(2){
    background-color: #016972;
    color: #83c6cd;
}

.card:nth-child(3){
    background-color: #00403f;
    color: #99cbca;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 50%;
    padding: 0 35px;
}

.content h1{
    margin: 20px 0;
    font-family: var(--secondary-font);
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--primary-color);
}

.content p{
    font-family: var(--primary-font);
    line-height: 25px;
}

.content img{
    width: 80px;
}

.card button{
    width: 120px;
    padding: 10px 15px;
    margin-left: 35px;
    border: 2px solid white;
    border-radius: 20px;
    background: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}
.card:nth-child(1) button{
    color: #e28525;
}

.card:nth-child(2) button{
    color: #016972;
}

.card:nth-child(3) button{
    color: #00403f;
}

.card button:hover{
    background: transparent;
    color: white;
}

@media(max-width: 768px){
    body {
        height: auto;
    }
    .card{
        min-height: 450px;
    }
    .container{
        height: 100%;
        flex-direction: column;
        overflow: auto;
        margin: 80px 0;
    }
}